@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsl(216, 12%, 54%);
  --darkBlue: hsl(210, 19%, 18%); /* extra */
  --darkerBlue: hsl(215, 22%, 16%);
  --veryDarkBlue: hsl(216, 12%, 8%);
}

/* Body */
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
  color: var(--white);
  background-color: var(--veryDarkBlue);
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 🛢️ Container */
.container {
  max-width: 414px;
  min-height: 417px;
  margin: 2rem;
  background-color: var(--darkerBlue);
  border-radius: 30px;
}

.card {
  padding: 2rem;
  line-height: 1.5;
}

p {
  padding-bottom: 1rem;
}

/* 🔼 Button */
.star {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 50px;
  height: 50px;
  background-color: var(--darkBlue);
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  color: var(--mediumGrey);
  border: none;
  border-radius: 50%;
}

.rating {
  display: flex;
  justify-content: space-between;
}

.submit {
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--orange);
  color: var(--white);
}

/* 👣 Footer */
.attribution {
  position: absolute;
  bottom: 0;
  padding-top: 2rem;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  color: var(--white);
}
.attribution a {
  color: hsl(228, 58%, 52%);
}

/*✈️ Hover */
.btn:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--mediumGrey);
}

.submit:hover {
  cursor: pointer;
  color: var(--orange);
  background-color: var(--white);
}

/* 📱 Media Query */

@media only screen and (width <= 375px) {
  .card {
    padding: 2rem 1rem;
  }
}
